# Explore here

In [1]:
# Your code here
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv',sep=";")

In [2]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
df_eda = df[['age', 'duration', 'campaign', 'pdays', 'emp.var.rate', 'y']]
df_eda

       age  duration  campaign  pdays  emp.var.rate    y
0       56       261         1    999           1.1   no
1       57       149         1    999           1.1   no
2       37       226         1    999           1.1   no
3       40       151         1    999           1.1   no
4       56       307         1    999           1.1   no
...    ...       ...       ...    ...           ...  ...
41183   73       334         1    999          -1.1  yes
41184   46       383         1    999          -1.1   no
41185   56       189         2    999          -1.1   no
41186   44       442         1    999          -1.1  yes
41187   74       239         3    999          -1.1   no

[41188 rows x 6 columns]

In [4]:
df_eda['y'] = pd.factorize(df['y'])[0]

/tmp/ipykernel_12718/2511612156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eda['y'] = pd.factorize(df['y'])[0]

In [5]:
df_eda.head()

   age  duration  campaign  pdays  emp.var.rate  y
0   56       261         1    999           1.1  0
1   57       149         1    999           1.1  0
2   37       226         1    999           1.1  0
3   40       151         1    999           1.1  0
4   56       307         1    999           1.1  0

In [6]:
X = df_eda.drop('y',axis=1)
y = df_eda['y']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,y,random_state=42,train_size=0.8)

In [14]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegresion()
model.fit(X_train,y_train)

NameError: name 'LogisticRegresion' is not defined